.markdown_wrapper {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  h1,
  h2 {
    font-size: 2rem;
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.2rem;
  }
  h5 {
    font-size: 1.1rem;
  }
  h6 {
    font-size: 1rem;
  }

  p {
    margin: 1.25rem 0;
  }

  i,
  cite,
  em {
    font-style: italic;
  }

  strong {
    font-weight: 700;
  }

  a {
    color: #e21352;
    &:hover {
      text-decoration: underline;
    }
  }

  ul,
  ol,
  blockquote,
  pre,
  table,
  .note {
    margin: 1.25rem 0;
  }

  ul,
  ol {
    padding-left: 1.75rem;
    & > li {
      margin: 0.375rem 0;
    }
    ul,
    ol {
      margin: 0.2em 0;
    }
    p {
      margin: 0;
    }
  }
  ul > li {
    list-style: disc;
  }
  ol > li {
    list-style: decimal;
  }

  hr {
    margin: 2.5rem 0;
    border-top: 1px solid #404040; /* neutral.700 */
  }

  blockquote {
    border-left: solid 3px #e5e5e5; /* neutral.200 */
    padding: 0.125rem 1rem;
    color: #737373; /* neutral.500 */
    p {
      margin: 0.75rem 0;
    }
  }

  code,
  pre,
  img,
  div.picture,
  .note {
    border-radius: 0.25rem;
  }

  code {
    background-color: #e5e5e5; /* neutral.200 */
    padding: 0.2rem 0.375rem;
    font-family:
      ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
      "Courier New", monospace;
    font-size: 0.875rem;
  }

  pre {
    overflow-x: auto;
    padding: 1rem;
    background-color: #f5f5f5; /* neutral.100 */
    code {
      padding: 0;
      background: transparent;
    }
  }

  table {
    width: auto;
    overflow: auto;
    display: block;
  }

  div.picture + em {
    color: #404040; /* neutral.700 */
    font-size: 0.875rem;
    padding-top: 0.5rem;
    display: inline-block;
  }

  .note {
    padding: 0.25rem 1rem;
    display: flex;
    p {
      margin: 0.75rem 0;
    }
  }
  .note::before {
    content: "";
    display: inline-block;
    margin: 1.125rem 0.75rem 0 0;
    flex-shrink: 0;
  }

  .info {
    background-color: #eff6ff; /* blue.50 */
  }
  .warn {
    background-color: #fff7ed; /* orange.50 */
  }
  .danger {
    background-color: #fef2f2; /* red.50 */
  }

  .info::before {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 9999px;
    background-color: #93c5fd; /* blue.300 */
  }
  .warn::before {
    height: 0.75rem;
    width: calc(0.75rem / tan(60deg) * 2);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: #fdba74; /* orange.300 */
  }
  .danger::before {
    width: 0.75rem;
    height: 0.75rem;
    background-color: #fca5a5; /* red.300 */
  }
}
