@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url(/fonts/Inter-var.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

code {
  font-size: 0.875rem;
}

:not(pre) > code {
  margin-left: 0.25rem/* 4px */;
  margin-right: 0.25rem/* 4px */;
  --tw-bg-opacity: 1;
  background-color: rgba(245, 245, 245, var(--tw-bg-opacity));
  padding-left: 0.5rem/* 8px */;
  padding-right: 0.5rem/* 8px */;
  padding-top: 0.25rem/* 4px */;
  padding-bottom: 0.25rem/* 4px */;
  border-radius: 0.375rem/* 6px */;
  word-break: break-all;
  font-size: 1rem;
}

@media (prefers-color-scheme: dark) {
  :not(pre) > code {
    --tw-bg-opacity: 1;
    background-color: rgba(38, 38, 38, var(--tw-bg-opacity));
  }
}

pre {
  border-radius: 0.25rem;
  box-sizing: border-box;
  overflow: hidden;
  line-height: 1.5rem;
  margin-bottom: 2.25rem;
}

pre > code {
  border-radius: 0.25rem;
}

pre code.hljs {
  padding: 16px;
}

.footnotes {
  border-top: solid 1px #d4d4d4;
  margin-top: 2rem;
  padding-top: 1.5rem;
  margin-bottom: -1rem;
}