@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

code {
  font-size: 0.875rem;
}

:not(pre) > code {
  @apply bg-ngray-100 dark:bg-ngray-800 mx-1 px-2 py-1 rounded-md break-all text-base;
}

pre {
  @apply rounded-md box-border overflow-hidden leading-6 mb-9;
}

.hljs {
  @apply bg-ngray-800;
}

pre code.hljs {
  @apply p-4
}

.footnotes {
  @apply border-t border-ngray-300 mt-8 pt-6 -mb-4 dark:border-ngray-600;
}

.rehype-code-title {
  @apply text-ngray-300 text-sm font-mono py-3 px-4 bg-ngray-800 border-b border-ngray-600 rounded-t-md break-all;
}

.rehype-code-title + pre {
  @apply rounded-t-none;
}

summary {
  @apply px-4 py-3 mb-4 bg-ngray-100 dark:bg-ngray-800 rounded-md cursor-pointer;
}

details {
  @apply mb-5 rounded-md;
}