.ais-SearchBox {
  position: sticky;
  margin-bottom: 0;
  padding: 0.75rem;
  border-radius: 0.5rem;
}
.ais-SearchBox-form {
  width: 100%;
  display: flex;
  padding-right: 1.375rem;
  border-radius: 0.5rem;
  background-color: #f5f5f5;
}
.ais-SearchBox-input {
  appearance: none;
  flex-grow: 1;
  background-color: #f5f5f5;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.375rem;
  border-radius: 0.5rem;
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.ais-SearchBox-submit {
  display: none;
}
.ais-Hits {
  margin-top: 0.25rem;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
.ais-Hits-item {
  display: flex;
}
.ais-Snippet-highlighted {
  background-color: #ffbdd5;
}
.ais-PoweredBy {
  border-top: 1px solid #e5e5e5;
}
.ais-Pagination-list--noRefinement {
  display: none;
}
.ais-Pagination-list {
  height: 4.5rem;
  justify-content: center;
  align-items: center;
  color: #171717;
  border-top: 1px solid #e5e5e5;
}
.ais-Pagination-list > * + * {
  margin-left: 1rem;
}
.ais-Pagination-link {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ais-Pagination-item {
  border-radius: 9999px;
  display: inline-flex;
  width: 2.5rem;
  height: 2.5rem;
  justify-content: center;
  align-items: center;
}
.ais-Pagination-item:hover:not(.ais-Pagination-item--disabled), .ais-Pagination-item--selected {
  background-color: #f5f5f5;
}
.ais-Pagination-item--disabled {
  color: #a3a3a3;
}
.ais-PoweredBy {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.825rem;
  color: #a3a3a3;
  justify-content: flex-end;
}
.ais-PoweredBy-link {
  margin-left: 0.25rem;
}

@media (prefers-color-scheme: dark) {
  .ais-SearchBox-form {
    background-color: #262626;
  }
  .ais-SearchBox-input {
    background-color: #262626;
  }
  .ais-SearchBox-resetIcon {
    fill: #f5f5f5;
  }
  .ais-Pagination-item--disabled {
    color: #737373;
  }
  .ais-Pagination-item:hover:not(.ais-Pagination-item--disabled), .ais-Pagination-item--selected {
    background-color: #262626;
  }
  .ais-Pagination-list {
    color: #f5f5f5;
    border-top: 1px solid #404040;
  }
  .ais-PoweredBy {
    color: #737373;
  }.ais-PoweredBy {
    border-top: 1px solid #404040;
  }
  .ais-Snippet-highlighted {
    background-color: #df286c;
  }
}

@media (min-width: 640px) {
  .ais-Hits {
    margin-top: 0.5rem;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }
  .ais-SearchBox {
    margin-bottom: 0;
    padding: 1.25rem;
  }
  .ais-PoweredBy {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }
}